[submodule "entity-repository"]
	path = entity-repository
	url = https://github.com/profect-team3/entity-repository.git
[submodule "order-platform-msa-order"]
	path = order-platform-msa-order
	url = https://github.com/profect-team3/order-platform-msa-order.git
[submodule "order-platform-msa-store"]
	path = order-platform-msa-store
	url = https://github.com/profect-team3/order-platform-msa-store.git
[submodule "order-platform-msa-user"]
	path = order-platform-msa-user
	url = https://github.com/profect-team3/order-platform-msa-user.git
[submodule "order-platform-msa-report-python"]
	path = order-platform-msa-report-python
	url = https://github.com/profect-team3/order-platform-msa-report-python.git
